* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Varela Round', sans-serif;

}

.container{
    
        display: flex;
       overflow: hidden;
       padding: 20px;
       
    
}

.btn {

    padding: 10px 30px;
    background: #ff6200;
    color: #ffff;
    cursor: pointer;
    border: #ff6200;
    border-radius: 20px;
    font-size: medium;
    font-weight: 700;
}

/* ------------------------------NAVBAR ----------------------*/
header {
    position: sticky;
    height: 5rem;
    display: flex;
    align-items: center;
    top: 0;

}

header.scrolled {
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease-in-out;
    backdrop-filter: blur(5px);

}

#navbar {
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(image/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;

}

.logo {
    margin-left: 30px;
}

.menu-btn {
    display: none;
}

.leftbox {
    display: flex;
    position: absolute;
    left: 250px;
    top: 30px;
    margin: 10px;
}

.rightbox {
    display: flex;
    position: absolute;
    right: 20px;
    top: 20px;

}

#navbar li a {
    margin: 20px;
    padding-bottom: 5px;
    color: rgb(145, 41, 0);
    font-weight: 600;
    font-size: 20px;

}

#navbar li a:hover {
    font-size: large;
    border-bottom: 2px solid rgb(0, 0, 255);
    color: rgb(0, 0, 255);

}

#navbar li a.active {
    color: rgb(0, 0, 255);
    border-bottom: 2px solid rgb(0, 0, 255);
}

#navbar button {
    width: 130px;
    height: 40px;
    margin: 8px;
    background: #ff6200;
    color: #ffff;
    cursor: pointer;
    border: #ff6200;
    border-radius: 20px;
    font-size: medium;
    font-weight: 700;
}

#navbar button:hover {

    background-color: white;
    color: #ff6200;
    box-shadow: 10px 10px 10px -3px;
}

#navbar button.btn:hover {
    background-color: white;
    color: #000054;
}

#navbar button.btn {
    background-color: #2424fe;
}

/*----------------------- Home Page --------------------*/
.home {
    display: flex;
    
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
  

}

.col-2 img {
    max-width: 125%;
    padding: 0px 150px;
    margin-left: 200px;


}

.col-1 {
    margin-top: 150px;
    font-size: 35px;
    line-height: 70px;
    margin-left: 150px;
}

.col-1 h1 {
    color: #ff6200;
}

.col-1 h2 {
    color: #2424fe;
    line-height: normal;
}

.col-1 h3 {
    color: #2424fe;
    line-height: normal;
}

.col-1 h5 {
    color: #ff6200;
    line-height: normal;
}

.col-1 button {
    width: 200px;
    height: 40px;
    margin: 8px;
    background: #000054;
    color: #ffff;
    cursor: pointer;
    border: #000054;
    border-radius: 20px;
    font-size: medium;
    font-weight: 700;
}

/*------------------------ Sevices------------------- */
.services {
    width: 100%;
    background: url(image/Artboard\ –\ 1.jpg);
}
.services h3 {
    display: block;
    color: #2424fe;
    text-align: center;
    align-items: center;
    justify-content:center ;
    padding: 0px;
}

.text h1 {
    text-align: center;
    align-items: center;

}

.services .row {
    padding: 50px;
    display: flex;
    justify-content: space-around;
    
}

.services .col-3 {
    margin: 20px;
    border-radius: 20px;
    padding: 40px 20px;
    background-color: white;
    box-shadow: 0 0 20px 0px rgba(2, 1, 1, 0.77);
    font-size: 15px;
}

.services .col-3 h1 {
    line-height: 90px;
}

.services .col-3 p {
    margin-bottom: 20px;
}
/* ------------------------Contact------------------------ */
.contact-left {
    flex-basis: 35%;
    
}
.contact h2 {
    color: #2424fe;
    text-align: center;
    padding: 20px;
   
}

.contact-right {
    flex-basis: 60%;
    
}
.left-row h1{
   display: flex;
  justify-content: center;
    color: #2424fe;
    text-align: center;
    
}

.contact-left p {
    margin-top: 30px;
}

.contact-left p i {
    color: #2424fe;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-top: 15px;
    color: #000000;
    display: inline-block;
}

.btn.btn2 {
    display: inline-block;
    background:#2424fe;
}

.contact-right form {
    width: 150%;
}

form input
{
    width: 100%;
    height: 80px;
    border: 0;
    outline: none;
    background: #ababab;
    padding: 15px;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
}
form textarea{
    width: 100%;
    height: 200px;
    border: 0;
    outline: none;
    background: #ababab;
    margin: 15px 0;
    color: #000000;
    font-size: 18px;
    border-radius: 6px;
    padding: 15px;
}

form btn2 {
    padding: 14px 60px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 20px;
}
.right-row{
 margin-top: 100px;
    margin-left: 400px;
}
.right-row img{
    width: 100%;
    
}
/* ------About Us ------*/
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(189, 202, 255, 0.7), rgba(255, 255, 255, 0.7)), url(image/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;


}

.sub-header h1 {
    margin-bottom: 250px;
    font-size: 30px;
}
.text-box {
    width: 98%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    color: #000054;
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.row {
    margin: 1%;
    display: flex;
    justify-content: space-between;
}

.about-us {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col {
    flex-basis: 48%;
    padding: 30px 2px;
}

.about-col img {
    width: 100%;
}

.row , .about-us {
    font-weight: 800;
    font-size:30px;
    padding-top: 0;
}
.about-col p{
    font-size: medium;
    font-weight: 100;
}

.about-col p {
    padding: 15px 0 25px;
}
/*------- About-footer--------- */
.footer {
    background-color:#2424fe2a;
    width: 100%;
    text-align: center;
    padding: 30px 0;
   margin-bottom: 0px;
}

.footer h4 {
    color:#000054;
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: larger;
}


.fa-brands {
    color:#ff6200;
    margin: 0 13px;
    padding: 18px 0;
    cursor: pointer;
}

.fa-heart {
    color: #f44336;
}
/* --------------Copyright----------- */

.copyright {
    width: 100%;
    text-align: center;
    justify-content: center;
    padding: 25px 0;
    background:#ff6200;
    font-weight: 300;
    color: white;
}

.copyright i {
    color: #2424fe;
}

/*------------------------ Responsive--------------------- */
@media only screen and (max-width:1440px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .rightbox {
        left: 1050px;

    }
header{
    background: rgb(255, 255, 255, 0.5);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease-in-out;
    backdrop-filter: blur(5px);
    padding: 50px;
  
  
}
#navbar {
    position: absolute;
    margin-left: 0%;
    top: 0;
    z-index: 99;
    display: flex;
    width: 100%;
    height: 100vh;
    background: url(image/bg-image.png);
    background-size:cover;
    background-repeat: no-repeat;

}
   .home, .col-1{
    margin-left: 50px;
   margin-top: 90px;
}
.col-1 ,h3{
    font-size:30px;
}
.col-1 ,h1{
    font-size:50px;
    line-height: 45px;
}
.col-1 ,h2{
    font-size:39px;
}
.col-1 ,h4{
    font-size:28px;
}
.services , h1{
    font-size: 30px;
}
.services , h3{
    font-size: 25px;
}


@media only screen and (max-width:1273px) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .col-1 {
      
        margin-left: 80px;
        font-size: 25px;
        line-height: normal;
    }

    .col-1 a button {
        width: 130px;
        margin-left: -2px;
        padding: 10px;
    }
    header {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        margin-top: 30px;
        position: absolute;
        left: 1100px;
    }

    .menu-btn .line {
        width: 30px;
        height: 3px;
        background: #000054;
        margin: 6px 0;
    }

    .menu {
        display: none;
    }
    header{
        padding: 50px;
    }
  
}
@media only screen and (max-width:1170px) {
    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .col-1 {
        margin-top: 50px;
        margin-left: 80px;
        font-size: 20px;
        line-height: normal;
    }

    .col-1 a button {
        width: 130px;
        margin-left: -2px;
        padding: 10px;
    }
    header {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        margin-top: 30px;
        position: absolute;
        left: 900px;
    }

    .menu-btn .line {
        width: 30px;
        height: 3px;
        background: #000054;
        margin: 6px 0;
    }

    .menu {
        display: none;
    }
}

@media only screen and (max-width:900px) {
    .menu-btn {
        display: block;
        cursor: pointer;
        margin-top: 30px;
        position: absolute;
        left: 750px;
    }

    .menu-btn .line {
        width: 30px;
        height: 3px;
        background: #000054;
        margin: 6px 0;
    }

    .menu {
        display: none;
    }

}
@media only screen and (max-width:768px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        margin-top: 30px;
        position: absolute;
        left: 600px;
    }

    .menu-btn .line {
        width: 30px;
        height: 3px;
        background: #000054;
        margin: 6px 0;
    }

    .menu {
        display: none;
    }

    .col-1 {
        margin-top: 50px;
        margin-left: 80px;
        font-size: small;
        line-height: normal;
    }

    .col-1 a button {
        width: 120px;
        margin-left: -2px;
        padding: px;
    }

    .rightbox {
        top: 10px;
        left: 450px;
        right: 100px;

    }

    #navbar,
    .logo {
        width: 150px;
        margin-top: 20px;
    }

    .leftbox {
        display: none;
    }

    .col-3,
    .btn {
        align-items: center;

        padding: 10px 90px;
    }

    .col-3 img {

        width:300px;
    }
    .row , .col-3 {
        display: flex;
        flex-direction: column;
        columns: 2;
        margin: 50px;
        padding: 20px 30px;
    }

}
@media only screen and (max-width:480px) {

    html,
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .menu-btn {
        display: block;
        cursor: pointer;
        margin-top: 30px;
        position: absolute;
        left: 50px;
    }
    .menu{
        display: flex;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background: #fdad7c;
        transition: 0.2s;
    }
    #navbar,
    .logo {
        width: 10px;
        margin-top: 100px;
        margin-left: 0px;
    }
    .menu-btn .line {
        width: 30px;
        height: 3px;
        background: #000054;
        margin: 6px 0;
    }

    .menu {
        display: none;
    }
}


@media only screen and (max-width:375px) {
    #navbar img {
        width: 100px;
    }

    .col-3 {
        display: block;
        

    }
}
}